<div class="top">
    <div class="desktop-nav">
        <div class="top-nav">
            <div class="logo">City Theatre Austin</div>
            <div class="navitems">
                <a class="navbutton">About Us</a>
                <a class="navbutton">Upcoming Shows</a>
                <a class="navbutton">Classes</a>
                <a class="navbutton">Auditions</a>
                <a class="navbutton">Support Us</a>

            </div>
        </div>
    </div>
    <div class="mobile-nav"></div>

</div>